.get_quote {
  border-radius: 6px;
  border: 2px solid #1a1a1a;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1em;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
}
.navToggle {
  display: flex;
}
.navToggle svg {
  cursor: pointer;
}
