.get_quote {
  border-radius: 6px;
  border: 2px solid var(--color-duollow);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1em;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
}
.navToggle {
  display: flex;
}
.navToggle svg {
  cursor: pointer;
}
.navbar {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-duollow);
  padding: 0.4rem 0;
}
